-# .well.clearfix
-#   - if (providers = Spree::MBWayProvider.active).any? 
-#     %table.table
-#       %tr
-#         %th= Spree.t(:mbway_provider_name)
-#       - providers.each do |provider| 
-#         %tr
-#           %td= provider.name
