<% content_for :page_title do %>
  <%= Spree.t(:new_mbway_provider) %>
<% end %>

<div data-hook="admin_mbway_provider_new_form">
  <%= form_for [:admin, @mbway_provider] do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div data-hook="admin_mbway_provider_new_form_buttons">
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </div>
  <% end %>
</div>

